<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <!-- Make site responsive on mobile/tablet -->
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>yourTable App</title>
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.3/semantic.min.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato|Raleway">
        <link rel="stylesheet" href="/stylesheets/app.css">
    </head>
    <body class="landing">
        <div id="top" class="ui large secondary inverted pointing menu">
            <div class="ui container">
                <a class="active item" href="/">Home</a>
                <a class="item" href="/users">Customer list</a>
                <a class="item">About us</a>
                <a class="item">Careers</a>
                <div class="right menu">
                    <div class="item">
                        <a class="ui inverted button">Log in</a>
                    </div>
                    <div class="item">
                        <a id="left" class="ui inverted primary button">Sign Up</a>
                    </div>
                </div>
            </div>
        </div>
