<% include ./partials/header %>

    <div id="title" class="ui text container">
        <h1 class="ui inverted header">
            Binh Duong restaurant
        </h1>
        <h2 class="ui inverted header">authentic Vietnamese cuisine</h2>
        <div>
            <a class="ui inverted huge primary button" href="/users/new">Check-in your party
            <i class='right chevron icon'></i>
            </a>
        </div>
    </div>
        
<% include ./partials/footer %>
     
        
   