<% include ./partials/header %>

    <!-- Start landing page -->
   

    <div class='caption text-center'>
        <h1>Welcome to Binh Duong restaurant</h1>
        <h3>Authentic Vietnames cuisine</h3>
        <a class='btn btn-outline-light btn-md' href='/users/new'>Check-in here</a>
    </div>
    <!-- end landing page -->
</div>
<!-- end home section -->
        
<% include ./partials/footer %>
     
        
   