<% include ./partials/header %>

<<<<<<< HEAD
    <!-- Start landing page -->
   

    <div class='caption text-center'>
        <h1>Welcome to Binh Duong restaurant</h1>
        <h3>Authentic Vietnames cuisine</h3>
        <a class='btn btn-outline-light btn-md' href='/users/new'>Check-in here</a>
    </div>
    <!-- end landing page -->
</div>
<!-- end home section -->
=======
    <div id="title" class="ui text container">
        <h1 class="ui inverted header">
            Binh Duong restaurant
        </h1>
        <h2 class="ui inverted header">authentic Vietnamese cuisine</h2>
        <div>
            <a class="ui inverted huge primary button" href="/users/new">Check-in your party
            <i class='right chevron icon'></i>
            </a>
        </div>
    </div>
>>>>>>> ae1141329acc428075f4938f66a646c1fe7b0044
        
<% include ./partials/footer %>
     
        
   