<% include ./partials/header %>

<<<<<<< HEAD
<div id='form' class='container text-center col-md-5 col-lg-5'>
    <form action="/users" method="POST">
        <div class='form-group'>
            <label for='name'>Your name</label>
            <input type="text" class='form-control' name="user[firstName]" placeholder="Dinh Vu">
            <hr></hr>
        </div>
        <div class='form-group'>
            <label for='name'>How many people do you have?</label>
            <input type="text" class='form-control' name="user[number]" placeholder="1">
            <hr></hr>
        </div>
        <div class='form-group'>
            <label for='name'>Phone number</label>
            <input type="text" class='form-control' name="user[phone]" placeholder="9085026197">
            <hr></hr>
        </div>
        <div class='form-group'>
            <label for='name'>How can we accomodate you?</label>
            <input type="text" class='form-control' name="user[note]" placeholder="Special needs, high chair for kids">
            <hr></hr>
        </div>
        <input class='btn btn-outline-light btn-md' type='submit'>
    </form>
=======
<div class="ui main text container">
        <form class="ui inverted form" action="/users" method="POST">
            <div class="field">
                <label>Your Name</label>
                <input type="text" name="user[firstName]" placeholder="Dinh Vu">
            </div>
            <div class="field">
                <label>How many people do your party have?</label>
                <input type="text" name="user[number]" placeholder="1">
            </div>
            <div class="field">
                <label>Phone number</label>
                <input type="text" name="user[phone]" placeholder="9085026197">
            </div>
            <div class="field">
                <label>Note (special needs, high chair)</label>
                <input type="text" name="user[note]" placeholder="How can we accommodate you">
            </div>
            <input class="ui inverted primary big button" type="submit">
        </form>
       
>>>>>>> ae1141329acc428075f4938f66a646c1fe7b0044
</div>

<% include ./partials/footer %>