<% include ./partials/header %>

<div class="ui main text container">
        <form class="ui inverted form" action="/users" method="POST">
            <div class="field">
                <label>Your Name</label>
                <input type="text" name="user[firstName]" placeholder="Dinh Vu">
            </div>
            <div class="field">
                <label>How many people do your party have?</label>
                <input type="text" name="user[number]" placeholder="1">
            </div>
            <div class="field">
                <label>Phone number</label>
                <input type="text" name="user[phone]" placeholder="9085026197">
            </div>
            <div class="field">
                <label>Note (special needs, high chair)</label>
                <input type="text" name="user[note]" placeholder="How can we accommodate you">
            </div>
            <input class="ui inverted primary big button" type="submit">
        </form>
       
</div>

<% include ./partials/footer %>