<% include ./partials/header %>

<div id='success' class='container text-center'>
    <div class="alert alert-success" role="alert">
        SMS sent successfully
    </div>
    <a class='btn btn-outline-light btn-md' href='/users'>Return</a>
</div>

<% include ./partials/footer %>